USE [todoapp]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 20/4/2020 8:13:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToDoes]    Script Date: 20/4/2020 8:13:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToDoes](
	[Id] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[UserId] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[ToDoStatus] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ToDoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 20/4/2020 8:13:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[Password] [nvarchar](8) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[ToDoes] ([Id], [Content], [UserId], [IsDeleted], [ToDoStatus]) VALUES (N'19a126d6-222f-4800-3ba9-08d7da025cb9', N'ToDo 1', N'336b6614-3611-4c63-b5e5-3df3ecc507c0', 0, 0)
INSERT [dbo].[ToDoes] ([Id], [Content], [UserId], [IsDeleted], [ToDoStatus]) VALUES (N'affb9533-e6ea-4bff-3baa-08d7da025cb9', N'ToDo 2', N'336b6614-3611-4c63-b5e5-3df3ecc507c0', 0, 0)
INSERT [dbo].[ToDoes] ([Id], [Content], [UserId], [IsDeleted], [ToDoStatus]) VALUES (N'fe417e69-002d-442c-3bab-08d7da025cb9', N'ToDo 3', N'a60a356c-875a-486c-a928-02020af3ddaa', 0, 0)
INSERT [dbo].[Users] ([Id], [UserName], [IsDeleted], [Password]) VALUES (N'7589c119-1008-4056-b96a-08d7daa9b18c', N'johndoe@gmail.com', 0, N'1234')
INSERT [dbo].[Users] ([Id], [UserName], [IsDeleted], [Password]) VALUES (N'0c6f3562-3319-485a-b96b-08d7daa9b18c', N'janedoe@yahoo.com', 0, N'1234')
INSERT [dbo].[Users] ([Id], [UserName], [IsDeleted], [Password]) VALUES (N'ed23d163-bf9f-4f67-b96c-08d7daa9b18c', N'andy@example.com', 0, N'1234')
ALTER TABLE [dbo].[ToDoes] ADD  DEFAULT ((0)) FOR [ToDoStatus]
GO
