.login-container{
    width: 100vw;
    height: 100vh;
}

.login-block{
    width: 400px;
    height: 150px;
    background-color: #ccc;
    border: 1px solid #ababab;
    padding: 10px;
    border-radius: 4px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}